.logger-button {
  cursor: pointer;
}

.logger-item {
  transition: border-color .2s ease-in-out;

  &:hover {
    border-color: cadetblue;
  }
}

.logger-text {
  cursor: pointer;
}

.logger-text-even {
  background-color: lightblue;
}

.logger-text-odd {
  background-color: whitesmoke;
}

.logger-text--checked {
  color: crimson !important;
}
